WebRoot/WEB-INF/wsdl/JDEClientService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://jde.trt.cn/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="JDEClientService" targetNamespace="http://jde.trt.cn/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://jde.trt.cn/" schemaLocation="JDEClientService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="main">
    <part element="tns:main" name="parameters"/>
  </message>
  <message name="mainResponse">
    <part element="tns:mainResponse" name="parameters"/>
  </message>
  <message name="createUser">
    <part element="tns:createUser" name="parameters"/>
  </message>
  <message name="createUserResponse">
    <part element="tns:createUserResponse" name="parameters"/>
  </message>
  <message name="modifyUser">
    <part element="tns:modifyUser" name="parameters"/>
  </message>
  <message name="modifyUserResponse">
    <part element="tns:modifyUserResponse" name="parameters"/>
  </message>
  <portType name="JDEClientDelegate">
    <operation name="main">
      <input message="tns:main"/>
      <output message="tns:mainResponse"/>
    </operation>
    <operation name="createUser">
      <input message="tns:createUser"/>
      <output message="tns:createUserResponse"/>
    </operation>
    <operation name="modifyUser">
      <input message="tns:modifyUser"/>
      <output message="tns:modifyUserResponse"/>
    </operation>
  </portType>
  <binding name="JDEClientPortBinding" type="tns:JDEClientDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="main">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="modifyUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="JDEClientService">
    <port binding="tns:JDEClientPortBinding" name="JDEClientPort">
      <soap:address location="http://localhost:8080/TRTJDEClient/JDEClientPort"/>
    </port>
  </service>
</definitions>
